.div-block {
  background-color:grey;
  width:80px;
  height:28px;
  cursor:pointer;
}
.div-block.active {
  background-color:red;
  width:80px;
  height:28px;
  cursor:pointer;
}
.year {
  color:white;
  text-align:center;
  padding:3px;
  vertical-align: middle;
}
hr {
  margin-top: 15px !important;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px dashed #020202 !important;
}
.hide {
  display:none;
}
.picture, .content {
  height: 300px;
  width: auto;
  background-color: grey;
}

.content h1, .content p{
  padding:20px;
  color: white;
}

.pics img {
  height:300px;
  width: 515px;
}




.picture-block {
  height: 220px;
  width: 80%;
  background-color: grey;
  margin:15px;
  cursor: pointer;
}

.info {
  height:470px;
  width:auto;
  background-color: grey;
  margin:15px;
}

#about-team {
  width:90%;
}

.picture.hide {
  display:none;
}

.picture.active {
  text-align: center;
  display:block;
}