@media (min-height: 450px) {
  .picture-block {
    width: 170px !important;
  }

  .agent-label {
    width: 170px !important;
    font-size: 13px !important;
  }
}

html {
  font-family: Helvetica;
}

table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px;
}

tr:nth-child(2) td {
  padding-top: 15px;
}

td {
  vertical-align: bottom;
  text-align: center;
}

td img {
  width: 100%;

  /*height: auto;*/
  border: none;
}

.hide {
  display: none;
}

.active {
  display: block;
}

p {
  /*letter-spacing: 1px;*/
  font-size: 13px;
}

.picture-block {
  position: relative;
  width: 115px;
  height: auto;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.picture-block.selected, .picture-block:hover {
  opacity: 1;
}

.agent-label {
  position: relative;
  width: 115px;
  height: 60px;
  background-color: grey;
  display: inline-block;
  padding: 5px;
  margin-top: -5px;
  color: white;
  font-size: 12px;
}

.agent-label.selected {
  background-color: #ee2a24;
}

.content {
  vertical-align: top;
  width: 300px;
  background-color: #e6e7e8;
}

.tags {
  font-size: 11px;
}

.content-title {
  margin: 20px;
  text-align: left;
  font-weight: bold;
}

.content-info {
  margin: 20px;
  text-align: left;
}

.content div.active, .info .active {
  transition: all 1.4s ease-in-out;
}